fastapi
redis
uvicorn
langchain
openai
tiktoken
urllib3
bs4
selenium
unstructured
python-decouple
nltk
python-magic
python-dotenv
pydantic~=2.6.3
transformers
langchain-community
typing
mysql-connector-python~=8.3.0
starlette~=0.36.3
python-docx
pypdf
langchain-openai
yt_dlp
pydub
librosa
ffprobe
ffmpeg
pdfminer.six
pdf2image
pillow_heif
opencv-python
unstructured_inference
unstructured_pytesseract
tesseract
pdfplumber
Spire.PDF